CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
.dist
CPackConfig.cmake
CPackSourceConfig.cmake
json_disk
build/CMakeTools/CMakeToolsHelpers.cmake
build/CMakeTools/InitializeCache.cmake
